# Configuração da API
EXPO_PUBLIC_API_URL=http://localhost:3000
# ou para produção (Render):
# EXPO_PUBLIC_API_URL=https://api-jose-jhbt.onrender.com

# Ambiente
EXPO_PUBLIC_ENV=development

# Configuração de requisições
EXPO_PUBLIC_API_TIMEOUT=15000

# Debug
EXPO_PUBLIC_DEBUG=false
